@use 'base' as *;


main{
    section{
        min-height: 1000px;
        height: calc(100vh - 4rem);
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        span{
            letter-spacing: 0.5rem;
            font-size: 1.2rem;
        }
        h1{
            color: $red;
            font-size: 2rem;
            margin: 0;
        }
        a{
            padding: 0.5rem 3rem;
            color: $white;
            text-decoration: none;
            background-color: rgba($black, 0.8);
            transition: background-color 250ms;
            border-radius: 5px;
            &:hover{
                background-color: rgba($black, 0.9);

            }
        }

        &:nth-of-type(odd){
            background-color: $green;
        }
        &:nth-of-type(even){
            background-color: $red;
        }
    }
}